/* admin-dashboard.component.css */

h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  form {
    margin-bottom: 30px;
  }
  
  h3 {
    font-size: 22px;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="number"] {
    padding: 8px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 8px 12px;
    margin-right: 10px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    color: #fff;
    background-color: #007bff;
    cursor: pointer;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 12px;
    border-bottom: 1px solid #ccc;
    text-align: center;
  }
  
  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  /* button:hover {
    background-color: #0056b3;
  }
   */
  